/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* App.jsx */
.card {
  padding: 2em;
}

.row {
  display: flex;
  margin: 10px;
}

.content {
  margin: 10px;
}

/* Home.jsx */
.posts:hover span {
  color: yellow;
  cursor: pointer;
}

.post-link:link {
  color: rgba(255, 255, 255, 0.87);
}

.post-link:visited {
  color: rgba(255, 255, 255, 0.87);
}

.post-link {
  text-decoration: None;
}

#create-post {
  margin-bottom: 20px;
  margin-left: 25px;
}

#hide-post {
  margin-left: 25px;
}

/* PostInfo.jsx */
.comments {
  margin-left: 20px;
}

.comment {
  font-size: smaller;
}