/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.card {
  padding: 2em;
}

.row {
  display: flex;
  margin: 10px;
}

.content {
  margin: 10px;
}

.posts:hover span{
  color: yellow;
  cursor: pointer;
}