/* App.jsx */
.card {
  padding: 2em;
}

.row {
  display: flex;
  margin: 10px;
}

.content {
  margin: 10px;
}

/* Home.jsx */
#create-post {
  margin-bottom: 20px;
  margin-left: 25px;
}

#hide-post-form {
  margin-left: 25px;
}
