/* displays Navbar navlinks as row of boxes */
.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    width: 82px;
    padding: 5px;
    margin: 6px 6px 6px;
    background: lightblue;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: black;
}

/* NavBar background */
.nav-container {
    background-color: lightsalmon;
    width: 285px;
}

/* changes color of Navbar navlinks when they are clicked */
a.active {
    background: black;
    color: white;
}