.form-container {
    border: 2px solid black;
    width: 80%;
}

.form-inputs {
    display: flex;
    align-items: center;
}

.form-inputs input {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-inputs label {
    text-align: right;
    margin-right: 10px;
    flex-basis: 30%;
}

.form-inputs p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
    color: red;
}

#button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 181px;
    margin-left: 154px;
}

#button button {
    width: 100%;  
}